// Grid system

$susy : (
  columns: 12,
  gutters: .75,
  gutter-position: split,
);

// Full grid //
.banner>section { @include container(70em); }
.container { @include container(70em); }

// header
.brand { @include span(3 of 12); }
.nav-primary { @include span(9 of 12 last); }

// front page
.front-page-featured article { @include span(6 of 12); }
.front-page-latest article { @include span(12 of 12); }

// archives
.page-header { @include span(12 of 12); }
.archive article { @include span(6 of 12); }

// pages
.page article.type-page { @include span(12 of 12); }

// posts
.single article.type-post { @include span(12 of 12); }

// .main { @include span(full inside no-gutters); }
// .main>article:nth-of-type(1) {
//   @include span(12 of 12);
//   img { @include span(8 of 12 no-guters); }
//   header {
//     @include span(4 of 12 last break no-gutters);
//   }
//   div.entry-summary {
//     @include span(4 of 12 last break no-gutters);
//   }
// }
// .main>article.index-submissions { @include span(12 of 12 last); }
// .main>article:nth-of-type(n+3):nth-of-type(-n+8) { @include span(4 of 12); }
// .main>article.index-news { @include span(4 of 12 last); }
// .main>article:nth-of-type(n+7):nth-of-type(-n+11)  { @include span(break 8 of 12); }
.posts-navigation { @include span(12 of 12); }
// footer
