// Grid system

$susy : (
  columns: 12,
  gutters: .75,
  gutter-position: split,
);

// Full grid //
.container { @include container(70em); }
.container-wide { @include container(100em); }

// Header //
.banner>section {
  @include container(100em);
  position: relative;
}
.about-pulldown>section { @include container(70em); }

// .nav-primary { @include span(4 of 12); }
.nav-brand {
  @include span(4 of 12);
  @include push(4 of 12);
}
.nav-social { @include span(4 of 12); }

.about-pulldown-hero {
  @include span(6 of 12);
  @include push(3 of 12);
}

.about-pulldown-third { @include span(4 of 12); }

// front page
.changes-quote { @include span(12 of 12); }
.changes-subhead, .changes-explain {
  @include span(8 of 12);
  @include push(2 of 12);
 }
.front-page-featured article { @include span(6 of 12); }
.front-page-latest article { @include span(12 of 12); }

// archives
.page-header { @include span(12 of 12); }
.archive article { @include span(6 of 12); }

// pages
.page article.type-page { @include span(12 of 12); }

// posts
.single article.type-post { @include span(12 of 12); }
nav.nav-newer-older, nav.nav-ftf, nav.nav-pins-needles { @include span(12 of 12); }
.single nav .nav-next { @include span(6 of 12); }
.single nav .nav-prev { @include span(6 of 12); }

// footer
.issue-image { @include span(4 of 12); }
.issue-text { @include span(8 of 12); }

.tagline { @include span(4 of 12); }
.newsletter { @include span(4 of 12); }
.past-issues { @include span(4 of 12); }
