html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  @include fontmake(
    $size: 1,
    $family: "Merriweather",
    $weight: 300
  );
  text-align: justify;
  overflow-x: hidden;
}
