html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html { height: 100%; }

html, body {
  font: 300 1rem/1.5 "Alegreya", serif;
  text-align: justify;
  overflow-x: hidden;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #fbfaf6;
  color: $d-grey;
}
