html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html { 
	font-size: 62.5%;
	height: 100%;
}

body {
  font-size: 2rem;
  font-family: 'Cardo', serif;
  font-weight: 400;
  line-height: 1.6;
  text-align: justify;
  overflow-x: hidden;
  background-color: white;
  color: $d-grey;
}
