//*********************************************************
// RESPONSIVE 40/60 640/960
//*********************************************************

@include susy-breakpoint(40em 60em, 8)

  //*********************************************************
  // HEADER
  //*********************************************************

  .header__menu ul
    flex-wrap: wrap


  //*********************************************************
  // CORE--STACK
  //*********************************************************

  .core__stack
    +col($span:4,$ctx:8)

  .post--core.col__4--8
    +col($span:8,$ctx:8)
    margin-right: 0


  //*********************************************************
  // PAGE--JOURNAL
  //*********************************************************

  .journal__content
    +col($span:8,$ctx:8)
    margin-right: 0

  .journal__recent
    +col($span:8,$ctx:8)
    margin-right: 0

  .catalog__issue.col__4
    +col($span:4,$ctx:8)

  .catalog__issue.col__4:nth-of-type(3n)
    margin-right: gutter()

  .catalog__issue.col__4:nth-of-type(2n)
    margin-right: 0

//*********************************************************
// RESPONSIVE 0/40 0/640
//*********************************************************

@include susy-breakpoint(0em 40em, 6)

  .col__12
    +col($span:6,$ctx:6)

  .col__8
    +col($span:6,$ctx:6)
    margin-right: 0

  .off__2
    margin-left: 0

  .core--archive .post--core:nth-of-type(2n+1)
    margin-right: 0


  //*********************************************************
  // typography

  p
    font-size: 2rem;
    margin-bottom: 2.6rem;

  h1
    font-size: 4rem

  h2
    font-size: 2.8rem

  h3
    font-size: 1.8rem


  //*********************************************************
  // HEADER
  //*********************************************************

  .header__nav
    position: relative

  .header__wrap
    padding: 0 2rem

  .header__menu
    display: none

  .header__menu ul
    flex-wrap: wrap

  .header__menu ul li
    flex: 1 1 100%
    font-size: 2rem
    line-height: inherit

  .mobile__toggle
    bottom: 0
    display: block
    font: normal 1.8rem/1.5 "FontAwesome"
    position: absolute
    right: 2rem

    &:hover
      cursor: pointer


  //*********************************************************
  // MARQUEE
  //*********************************************************

  .marquee
    padding: 0 1.5rem

  .post--marquee

    .post__link
      position: relative

    .post__title
      bottom: 150px
      +span(6 of 6)

      h1
        font-size: 2.4rem

    .post__meta
      bottom: 20px
      +span(6 of 6)

    .post__excerpt p
      font-size: 4rem


  //*********************************************************
  // CORE--STACK
  //*********************************************************

  .core,
  .page__wrap,
  .post__wrap
    padding: 0 2rem

  .core__stack
    +col($span:6,$ctx:6)
    margin-right: 0

  .post--core.col__4--8
    +col($span:6,$ctx:6)
    margin-bottom: 6rem
    margin-right: 0


  //*********************************************************
  // pages

  .page header h1,
  .core--archive header h1
    font-size: 5rem;


  //*********************************************************
  // PAGE--JOURNAL
  //*********************************************************

  .journal__content
    +col($span:6,$ctx:6)
    margin-right: 0

  .journal__recent
    +col($span:6,$ctx:6)
    margin-right: 0

  .journal__recent .issue__cover
    +col($span:6,$ctx:6)
    margin-right: 0

  .journal__recent .issue__teaser
    padding: gutter()

  .catalog__issue.col__4
    +col($span:6,$ctx:6)

  .catalog__issue.col__4
    margin-right: 0


  //*********************************************************
  // PAGE--ABOUT
  //*********************************************************

  .page--about .about__section h1
    font-size: 3rem;
    // font: 700 2rem/1.5 Raleway,sans-serif

  .about__content
    margin-left: 0

  .about__masthead
    margin-left: 0

  .masthead__meta.col__3--8
    flex: 0 0 50%;
    margin: 0 auto;


  //*********************************************************
  // POSTS
  //*********************************************************

  .post__header.col__8
    margin-left: 0

  .post--single .post__header h1
    font-size: 5rem
    // font: 700 3rem/1 Alegreya,serif

  .post__image
    margin-left: 0

  .post__content
    margin-left: 0

  .post footer
    margin-left: 0

  .post__bio.col__5--8
    +col($span:6,$ctx:6)
    margin-right: 0

  .post__avatar.col__3--8
    +col($span:4,$ctx:6)
    +push(1 of 12)

  .ftf__text.col__4--8
    +col($span:6,$ctx:6)
    margin-right: 0

  .ftf__image.col__4--8
    +col($span:6,$ctx:6)
    margin-right: 0

  //*********************************************************
  // FOOTER
  //*********************************************************

  .footer__wrap
    padding: 3rem 2rem

  .footer__nav
    padding-top: 4rem;
    margin-bottom: 0

  .footer__nav .col__2--8
    +col($span:6,$ctx:6)

    &:nth-of-type(2)
      margin-right: 0

  .footer__nav ul li
    // font-size: 1.8rem

  .footer__tagline
    font-size: 3rem
    text-align: left

  .footer__wrap hr
    border: 0
    width: 100%