@font-face
  font-family: 'Aleo'
  font-style: normal
  font-weight: 400
  src: local('Aleo'), local('Aleo-Regular'), url('../fonts/aleo-regular-webfont.woff2') format('woff2')

@font-face
  font-family: 'Aleo'
  font-style: normal
  font-weight: 700
  src: local('Aleo'), local('Aleo-Regular'), url('../fonts/aleo-bold-webfont.woff2') format('woff2')



a
  color: $red
  text-decoration: none
  &:hover
    color: $purple
    text-decoration: underline
    cursor: pointer
