p
  font-size: 2.2rem;
  text-align: justify;
  margin-bottom: 3rem;
  &:last-of-type
    margin-bottom: 0;

em, i
  font-style: italic;

strong, b
  font-weight: 700

a
  color: $purple
  text-decoration: none
  transition: color 0.3s ease-in-out
  &:hover
    color: $red
    text-decoration: none
    cursor: pointer

h1, h2, h3, h4, h5, h6
  color: $gray;
  font-family: "Fira Sans", sans-serif
  font-weight: 700
  // letter-spacing: 2px
  line-height: 1.2
  margin-bottom: 3rem
  text-rendering: optimizeLegibility
  transition: color 0.3s ease-in-out

h1
  font-size: 4rem

h2
  font-size: 3.2rem

h3
  color: $violet
  font-size: 2.6rem

ul
  margin-bottom: 2rem
  li
    list-style-type: circle
    margin-bottom: 0.8rem

sup
  font-style: italic
  font-size: 0.7rem
  line-height: 1.2rem
  vertical-align: super

hr
  position: relative
  border-width: 1px
  border-style: solid
  margin: 8rem 0
  color: #efefef
  &::after
    content: ''
    display: block
    width: 30px
    height: 31px
    position: absolute
    top: -16px
    left: 50%
    margin-left: -10px
    background-color: $bg
    background-image: url('../images/ftr_mark.png')
    background-repeat: no-repeat
    background-position: center
    background-size: 20px 21px
    padding: 5px
    border-radius: 50%

blockquote
  color: $red
  font-family: 'Playfair Display',sans-serif;
  font-weight: 900;
  margin: 0 -10% 3rem;
  p
    font-size: 5rem;
    line-height: 1.6;
    text-align: left;

.content__area,
.page__content

  a
    +textback($color: $red, $pull: 23px, $sides: 2px)
    transition: background 0.3s ease-in-out
    &:hover
      color: $purple

  img
    height: auto
    max-width: 100%

  .wp-caption-text
    font-size: 1.4rem
    font-family: "Fira Sans", sans-serif

  h1, h2, h3, h4, h5, h6
    margin-top: 4rem;

  .button 
    background: $red
    color: white
    padding: 1rem 2rem
    &:hover
      background: $red

  p.justified
    margin-bottom: -3.5rem;
    text-align: justify;
    &:after
      content: "";
      display: inline-block;
      width: 100%;