// Glyphicons font path
$icon-font-path:        "../fonts/";

// Colors
$brand-primary:         #27ae60;

$grey:                  #2A384F;

$issue-slate:           #2A384F;
$cover-blue       : rgb(85,162,215);
$cover-green      : rgb(146,157,80);
$cover-violet     : rgb(212,174,211);
$cover-white      : rgb(255,255,255);
$cover-aquamarine : rgb(215,237,236);
$cover-red        : rgb(197,54,50);
$cover-brown      : rgb(54,27,10);
$cover-grey       : rgb(172,176,180);
$cover-yellow     : rgb(250,217,68);
$cover-emerald    : rgb(83,177,122);
$cover-mauve      : rgb(153,100,95);
