// Glyphicons font path
$icon-font-path:        "../fonts/";

// Colors

$red:                   #b56969;
$purple:                #22264b;
$yellow:                #e6cf8b;
$grey:                  #e8edf3;
$beige:                 #ECDBBC;
$green:                 #C8D9BF;
$base:                  #2A384F;



$cover-blue:            rgb(99,162,217);
$cover-green:           rgb(142,153,58);
$cover-violet:          rgb(216,163,215);
$cover-white:           rgb(255,255,255);
$cover-aquamarine:      rgb(221,239,235);
$cover-red:             rgb(196,15,46);
$cover-brown:           rgb(55,26,10);
$cover-grey:            rgb(174,173,173);
$cover-yellow:          rgb(255,213,51);
$cover-emerald:         rgb(0,169,114);
$cover-mauve:           rgb(153,100,95);
$cover-ochre:           #c68e2f;
