.footer-primary-blue { background-color: $cover-blue; }
.footer-primary-green { background-color: $cover-green; }
.footer-primary-violet { background-color: $cover-violet; }
.footer-primary-white { background-color: $cover-white; }
.footer-primary-aquamarine { background-color: $cover-aquamarine; }
.footer-primary-red { background-color: $cover-red; }
.footer-primary-brown { background-color: $cover-brown; }
.footer-primary-grey { background-color: $cover-grey; }
.footer-primary-yellow { background-color: $cover-yellow; }
.footer-primary-emerald { background-color: $cover-emerald; }
.footer-primary-mauve { background-color: $cover-mauve; }

.footer-secondary-black {
  color: black;

  img {
    border: 5px solid black;
  }
}

.footer-secondary-white {
  color: white;

  img {
    border: 5px solid white;
  }
}

.past-issues {
  width: 235px;

  img {
    width: 225px;
  }
}
