.footer__primary
  background: $purple
  margin-top: 6rem
  min-height: 500px
  width: 100%

.footer__wrap
  +flex
  padding: 6rem 3rem

.footer__nav
  +flex
  margin-bottom: 0

.footer__nav ul
  +flex
  flex-direction: column

  &:last-of-type
    margin-right: 0

  li
    color: white
    font: 700 0.9rem/1.5 "Quicksand", sans-serif
    list-style-type: none
    text-align: left

    a
      color: $white

      &:hover
        color: $orange


.footer__tagline
  margin-bottom: 0
  margin-right: 0

  h1
    color: $orange
