//****************************
// CHANGE ANNOUNCEMENT
//****************************
.front-page-changes
  margin-bottom: 6rem
  .changes-quote
    margin-bottom: 5rem
    h1
      @include fontmake($size: 3, $family: "Aleo", $weight: 900, $margin: 0)
      color: $purple
      text-align: center
      text-transform: none
    div
      font-style: italic
      text-align: right
      margin-left: 4rem
      @include fontmake($size: 0.8, $margin: 0, $family: "Raleway", $weight: 400)
      color: $red

  .changes-subhead
    margin-bottom: 3rem
  .changes-explain
    // @include fontmake($size: 1.2, $family: "Merriweather", $weight: 300, $margin: 0)

//****************************
// FEATURED
//****************************
.front-page-featured
  margin-bottom: 5rem
  article
    position: relative
  .entry-image
    position: absolute
    z-index: -1
    right: 0
    width: 300px
    height: 300px
    margin: 0 auto
    overflow: hidden
    clip-path: circle(149px at center)
    img
      display: block
      max-width: 100%
      height: auto
  header
    position: relative
    height: 300px
    margin-bottom: 2rem
    h2
      @include fontmake($size: 2.8, $line: 3, $family: "Aleo", $weight: 700)
      padding-top: 80px
      text-align: left
      a
        color: $purple
        @include textback($pull: 19px, $color: $grey)
        &:hover
          color: $base
    time
      color: $red
      position: absolute
      bottom: 0px
      @include fontmake($size: 0.9, $family: "Raleway", $weight: 400, $margin: 0)
    .author
      color: $purple
      position: absolute
      bottom: 18px
      @include fontmake($size: 1.2, $family: "Raleway", $weight: 700, $margin: 0)
      text-transform: capitalize
      a
        color: $purple
  .entry-summary
    p
      @include fontmake($size: 1.2, $family: "Merriweather", $weight: 300, $margin: 0)
      font-style: italic


.front-page-latest
  background: $cover-ochre
  padding: 4rem 0
  article
    text-align: center
    h1
      color: $grey
      padding: 0 3rem
      @include fontmake($size: 4, $margin: 2, $family: "Aleo", $weight: 700)
      text-transform: none
    p
      color: $base
      @include fontmake($size: 1.6, $family: "Raleway", $weight: 700, $margin: 3)
      text-align: center
    a
      display: inline-block
      color: $cover-ochre
      text-transform: uppercase
      background: $grey
      padding: 1.6rem 3rem
      @include fontmake($size: 1.2, $family: "Raleway", $weight: 400, $margin: 0)
      border-radius: 40px
      transition: 0.3s all ease
      &:hover
        background: transparentize($grey, 0.3)
