//*********************************************************
// MARQUEE
//*********************************************************

.marquee
  max-width: 120rem
  padding: 0 3rem
  margin: 6rem 0 8rem;

.post--marquee

  .post__link
    display: flex
    flex-flow: row wrap

    &:after
      background: $red;
      bottom: 0;
      content: '';
      display: block;
      height: 5px;
      position: absolute;
      transition: all 0.3s ease-in-out
      width: 0%;

  .post__image
    display: none

  .post__title
    flex: 1 0 100%;
    order: 2;

  .post__title h1
    color: $purple
    font-size: 3.6rem
    margin-bottom: 1.6rem;

  .post__meta
    flex: 1 0 100%
    order: 3

  .post__author,
  .post__type,
  .post__time
    font-size: 2rem;
    margin-bottom: 3rem;

  .post__excerpt
    flex: 1 0 100%;
    order: 1;

  .post__excerpt p
    color: $red
    font-family: "Playfair Display"
    font-size: 5rem
    font-style: normal;
    font-weight: 900
    margin-bottom: 2rem

  // POST/MARQUEE HOVER STATES
  .post__link:hover

    .post__title h1,
    .post__author,
    .post__time
      color: $gray;

    .post__excerpt p
      color: $violet

    &:after
      background: $violet
      width: 100%;


//*********************************************************
// CORE
//*********************************************************

.core
  +flex
  max-width: 120rem
  padding: 0 3rem

.core__stack
  +flex

// POST--CORE
.post--core
  @extend .col__4--8
  margin-right: 0;
  margin-bottom: 6rem;

  .post__image
    display: none;

  // POST--CORE TITLE
  .post__title h1 
    color: $purple
    font-size: 3rem;
    margin-bottom: 0.4rem
    text-align: left
    transition: color 0.3s ease-in-out

  &:hover
    .post__title h1
      color: $violet


//*********************************************************
// RAILS
//*********************************************************

.core__rail--right
  margin-right: 0

.rail__issue
  transition: filter 0.3s ease-in-out
  margin-bottom: gutter(4)

  img
    max-width: 100%

  h1
    color: $gray;
    font-family: "Cardo"
    font-size: 3.2rem
    font-weight: 700
    margin: -6px 0 0
    padding: 2rem 2rem 0
    text-align: left

  .rail__issue__button
    display: block
    font-family: 'Fira Sans'
    font-size: 1.5rem
    padding: 3rem 2rem
    text-align: center
    text-transform: uppercase

  &:hover
    filter: brightness(90%) grayscale(30%)

.post__rail
  margin-bottom: gutter(4)

  .post__link
    +flex

  .post__image
    display: none

  .post__title
    order: 2
    text-align: left

    h1
      font-size: 1.8rem;
      font-weight: 400;
      margin-bottom: 0;

  .post__meta
    order: 3
    display: none;

  .post__time
    display: none

  .post__excerpt
    margin-bottom: 1rem
    order: 1

    p
      color: $violet
      font-family: "Playfair Display"
      font-size: 3.2rem
      font-weight: 700
      line-height: 1.4
      // font: 700 1.6rem "Alegreya", sans-serif

  &:hover .post__excerpt p
    color: $red

.rail__newsletter
  border: 1px solid $violet;
  padding-bottom: 1rem

  #mc_embed_signup_scroll
    +flex

  h2
    background: $violet
    color: white
    font-size: 2.6rem;
    margin-bottom: 0;
    padding: 1rem
    text-align: center
    width: 100%

  h4
    color: $base
    font-family: 'Cardo';
    font-weight: 400;
    margin-bottom: 0;
    padding: 3rem 2rem
    text-align: center

  .mc-field-group
    flex: 1 1 70%
    padding-left: 1rem
    margin-bottom: 0

    #mce-EMAIL
      border: 1px solid $purple;
      height: 40px
      padding: 0 1rem
      width: 100%

      &:focus
        border: 1px solid $red;
        outline: 0

  .mc-subscribe-group
    flex: 1 1 30%
    padding-right: 1rem
    margin-bottom: 0
    margin-right: 0

    #mc-embedded-subscribe
      border: 1px solid $purple;
      border-width: 1px 1px 1px 0;
      height: 40px
      width: 100%

      &:hover
        cursor: pointer

      &:focus
        border: 1px solid $red;
        border-width: 1px 1px 1px 0;
        outline: 0

//*********************************************************
// BRIDGES
//*********************************************************

// POST--BRIDGE--FTF
.core__bridge--ftf
  margin-right: 0;

.post--bridge--ftf

  // POST--FTF LINK
  .post__link
    display: flex
    flex-wrap: wrap
    align-items: center

  &::before
    color: white
    content: "Fairy-Tale File"
    display: block
    font-family: "Playfair Display"
    font-style: italic;
    // font: 700 0.8rem/1.5 "Quicksand", sans-serif
    left: 50%
    bottom: 10px
    position: absolute
    text-align: center
    transform: translateX(-50%)
    z-index: 100

  // POST--FTF FIGURE
  figure
    display: flex
    flex-wrap: nowrap
    height: 400px
    width: 100%

    img
      filter: brightness(20%) grayscale(100%)
      height: 100%
      object-fit: cover
      position: absolute
      top: 0
      width: 33.3333%

    img:first-of-type
      left: 0

    img:nth-of-type(2)
      left: 33.3333%

    img:nth-of-type(3)
      left: 66.6666%

  // POST--FTF TITLE
  .post__title
    position: absolute
    width: 100%
    top: 50%;

    h2
      color: $red
      // font: 700 2rem/1.5 "Alegreya", serif
      text-align: center

  // POST--FTF META
  .post__meta
    display: none

  // POST--FTF EXCERPT
  .post__excerpt
    display: none

  // POST--FTF HOVER STATES
  .post__link:hover

    figure img
      filter: brightness(30%) grayscale(40%)
