//****************************
// CHANGE ANNOUNCEMENT
//****************************
.front-page-announcement
  margin-bottom: 6rem
  article
    @include span(12 of 12)
    .entry-content
      @include span(9 of 12 no-gutters)
      @include pre(1.5 of 12)
      h1
        @include fontmake($size: 3, $family: "Aleo", $weight: 900, $margin: 0)
        color: $purple
        text-align: center
        text-transform: none
      h1 + p
        font-style: italic
        text-align: right
        @include fontmake($size: 0.8, $margin: 2, $family: "Raleway", $weight: 400)
        color: $red

//****************************
// FEATURED
//****************************

.loop-front-page,
.loop-archive,
.loop-fairyland
  margin-bottom: 6rem

  article
    position: relative
    height: 300px
    margin-bottom: 3rem
    .entry-link
      position: absolute
      z-index: 20
      top: 0
      right: 0
      bottom: 0
      left: 0
      overflow: hidden
      &:hover + .entry-title h2
        color: $purple
    .entry-image
      position: absolute
      z-index: 0
      top: 0
      right: 0
      bottom: 0
      left: 0
      overflow: hidden
      background-size: cover
      .overlay
        position: absolute
        z-index: 0
        top: 0
        right: 0
        bottom: 0
        left: 0
        overflow: hidden
        background-color: rgba(0,0,0,0.6)
    .entry-title
      position: relative
    .entry-meta
      position: relative
      .author
        display: inline-block
        @include fontmake($size: 1, $family: "Raleway", $weight: 700, $margin: 0)
        color: $red
        text-transform: capitalize
      time
        display: inline-block
        @include fontmake($size: 1, $family: "Raleway", $weight: 700, $margin: 0)
        &::before
          content: ' / '

article.one-half,
.loop-archive article
  @include span(6 of 12)
  text-align: center
  .entry-link:hover + .entry-title h2
    color: $orange
  .entry-title
    margin-top: 7rem
    padding: 0 2rem
    h2
      display: inline
      @include fontmake($size: 2, $line: 2, $family: "Aleo", $weight: 700, $margin: 1)
      color: white
      transition: 0.3s all ease-in-out
  .entry-meta
    display: inline-block
    position: relative
    bottom: 0px
    text-align: center
    z-index: 10
    .author
      z-index: 10
      a
        color: white
        &:hover
          color: $yellow
    time
      color: white
  .entry-summary
    display: none

article.one-quarter
  position: relative
  @include span(3 of 12)
  height: 300px
  &::before
    content: '\201C'
    display: block
    position: absolute
    top: 3px
    left: -13px
    width: 12px
    height: 12px
    @include fontmake($size: 1.6, $line: 2.2, $family: "Aleo", $weight: 700)
    color: $base
    text-align: center
    line-height: 27px
    background-color: $yellow
    border-radius: 50%
    z-index: 0
    transition: 0.3s all ease-in-out
    box-shadow: 0 0 0 1px $yellow, 0 0 0 8px $yellow
  &:hover:before
    color: $purple
    background-color: $orange
    box-shadow: 0 0 0 9px $orange
  .entry-image
    display: none
  .entry-title
    position: relative
    top: 220px
    text-align: left
    z-index: 10
    h2
      @include fontmake($size: 1, $family: "Raleway", $weight: 700, $margin: 0)
      color: $base
      transition: 0.3s all ease-in-out
  .entry-meta
    position: absolute
    bottom: 0px
    z-index: 10
    .author
      @include fontmake($size: 0.8, $family: "Raleway", $weight: 700, $margin: 0)
      z-index: 10
    time
      @include fontmake($size: 0.8, $family: "Raleway", $weight: 700, $margin: 0)
      color: $purple
  .entry-summary
    position: absolute
    top: 0
    height: 210px
    overflow: hidden
    z-index: 10
    p
      position: relative
      text-align: left
      @include fontmake($size: 1.6, $line: 2.2, $family: "Aleo", $weight: 700)
      color: $purple
      quotes: '\201c' '\201d'
      z-index: 10
      transition: 0.3s all ease-in-out

// .front-page-featured
//   margin-bottom: 5rem
//   article
//     position: relative
//   .entry-image
//     position: absolute
//     z-index: -1
//     right: 0
//     width: 300px
//     height: 300px
//     margin: 0 auto
//     overflow: hidden
//     clip-path: circle(149px at center)
//     img
//       display: block
//       max-width: 100%
//       height: auto
//   header
//     position: relative
//     height: 300px
//     margin-bottom: 2rem
//     h2
//       @include fontmake($size: 2.8, $line: 3, $family: "Aleo", $weight: 700)
//       padding-top: 80px
//       text-align: left
//       a
//         color: $purple
//         @include textback($pull: 19px, $color: $grey)
//         &:hover
//           color: $base
//     time
//       color: $red
//       position: absolute
//       bottom: 0px
//       @include fontmake($size: 0.9, $family: "Raleway", $weight: 400, $margin: 0)
//     .author
//       color: $purple
//       position: absolute
//       bottom: 18px
//       @include fontmake($size: 1.2, $family: "Raleway", $weight: 700, $margin: 0)
//       text-transform: capitalize
//       a
//         color: $purple
//   .entry-summary
//     p
//       @include fontmake($size: 1.2, $family: "Merriweather", $weight: 300, $margin: 0)
//       font-style: italic

//****************************
// LATEST ISSUE
//****************************
.front-page-latest
  background: $cover-ochre
  padding: 4rem 0
  margin-bottom: 6rem
  article
    text-align: center
    h1
      color: $grey
      padding: 0 3rem
      @include fontmake($size: 4, $margin: 2, $family: "Aleo", $weight: 700)
      text-transform: none
    p
      color: $base
      @include fontmake($size: 1.6, $family: "Raleway", $weight: 700, $margin: 3)
      text-align: center
    a
      display: inline-block
      color: $cover-ochre
      text-transform: uppercase
      background: $grey
      padding: 1.6rem 3rem
      @include fontmake($size: 1.2, $family: "Raleway", $weight: 400, $margin: 0)
      border-radius: 40px
      transition: 0.3s all ease
      &:hover
        background: transparentize($grey, 0.3)

//****************************
// FRONT PAGE QUEUE
//****************************
//
// .front-page-queue
//   article
//     @include span(3 of 12)
//     height: 650px
//     position: relative
//     margin-bottom: 2rem
//     .entry-image
//       img
//         max-width: 100%
//         min-width: 100%
//         height: auto
//         border-radius: 50%
//         transition: 0.3s all ease-in-out
//         box-sizing: border-box
//         -webkit-transform: translateZ(0)
//         transform: translateZ(0)
//         box-shadow: 0 0 0 2px $orange, 0 0 0 10px $yellow
//         &:hover
//           box-shadow: 0 0 0 12px $yellow
//     header
//       // position: absolute
//       // top: 100px
//       text-align: center
//       .entry-title
//         @include fontmake($size: 1.4rem, $family: "Aleo", $margin: 0.4)
//         a
//           @include textback($pull: 10px, $color: $grey)
//       p.author
//         @include fontmake($size: 0.8, $family: "Raleway", $weight: 400, $margin: 0.4)
//         text-align: center
//       time
//         display: block
//         width: 50px
//         height: 50px
//         margin: 0 auto
//         padding-top: 16px
//         background-color: $base
//         color: $red
//         border-radius: 50%
//         @include fontmake($size: 0.7, $family: "Raleway", $weight: 700, $margin: 0)
