.banner {
  @include gutters;
  position: relative;
  >section { position: relative; }
}

.brand {
  margin-top: 1.7rem;
  a {
    display: block;
    width: 270px;
    height: 27px;
    background-image: url('../../assets/images/FTR_title.png');
    background-size: 270px auto;
    background-repeat: no-repeat;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
  }
}

// primary menu
.nav-primary {
  float: right;
  padding-top: 1.4rem;
  @include fontmake(
    $size: 0.8,
    $margin: 0,
    $family: "Raleway",
    $weight: 700
  );
  text-transform: uppercase;
  div { float: right; }
}

// both navs
.social-search,
.nav {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  >li {
    float: left;
    position: inherit;
    padding-bottom: 1.6rem;
    text-align: right;
    &:hover .sub-menu {
      visibility: visible;
      opacity: 1;
      padding-top: 20px;
      transition: opacity 0.5s ease;
      transition: padding-top 0.5s ease;
    }
    a {
      padding: 0;
      &:hover {
        background-color: transparent;
        text-decoration: none;
      }
    }
  }
}

// social search
.social-search>li {
  margin: 3px 0 0 12px;
  i {
    @include fontmake(
      $family: "Fontawesome",
      $size: 1.4
    )
    font-style: normal;
  }
  &:first-of-type { margin-left: 30px; }
}

// navigation
.nav>li {
  margin: 10px 0 0 30px;
}

// sub menus
.sub-menu {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  list-style-type: none;
  padding: 0px 0 20px 0;
  position: absolute;
  top: 4.8rem;
  left: 0;
  background: white;
  z-index: 10;
  &:hover { visibility: visible; opacity: 1; }
  li, div {
    height: 100px;
    text-align: center;
    padding: 2rem;
    text-transform: none;
    background: $issue-slate;
    background-size: cover;
    background-repeat: no-repeat;
    a {
      color: white;
      @include fontmake(
        $family: "Alegreya",
        $size: 1.5,
        $margin: 0
      )
      @include textback($pull: 12px, $color: $grey);
      &:hover { text-decoration: underline; }
    }
  }
  div>p {
    display: inline;
    color: white;
    @include fontmake(
      $family: "Alegreya",
      $size: 1.5,
      $margin: 0
    )
    @include textback($pull: 12px, $color: $grey);
  }
}

.social-search .sub-menu div,
.social-search .sub-menu form {
  @include span(6 of 12);
}

// Fairyland
.nav li:first-of-type .sub-menu li {
  @include span(6 of 12);
  // fairy-tale files
  &:nth-of-type(1) {
    background-image: url('../../assets/images/nav/fairy-tale-files.jpg');
    background-position: 0 -300px;
  }
  // pins-needles
  &:nth-of-type(2) {
    background-image: url('../../assets/images/nav/pins-needles.jpg');
    background-position: 0 -79px;
  }
}
// Annual Journal
.nav li:nth-of-type(3) .sub-menu li {
  @include span(6 of 12);
  // current issue
  &:nth-of-type(1) {
    background-image: url('../../assets/images/covers/FTR_cover_mauve.png');
    background-size: 200%;
    background-position: 50% 67%;
  }
  // back issues
  &:nth-of-type(2) {
    background-image: url('../../assets/images/nav/back-issues.jpg');
    background-size: 140%;
    background-position: -121px -435px;
  }
}
// About
.nav li:nth-of-type(7) .sub-menu li {
  @include span(4 of 12);
  margin-bottom: 20px;
  &:nth-of-type(n+4):nth-of-type(-n+6) {
    margin-bottom: 0px;
  }
  // masthead
  &:nth-of-type(1) {
    background-image: url('../../assets/images/nav/masthead.jpg');
    background-size: 200%;
    background-position: -137px -80px;
  }
  // faqs
  &:nth-of-type(2) {
    background-image: url('../../assets/images/nav/faqs.jpg');
    background-size: 140%;
    background-position: -31px -201px;
  }
  // contributors
  &:nth-of-type(3) {
    background-image: url('../../assets/images/nav/contributors.jpg');
    background-position: 2px -233px;
  }
  // support
  &:nth-of-type(4) {
    background-image: url('../../assets/images/nav/support.jpg');
    background-size: 200%;
    background-position: -233px -451px;
  }
  // support
  &:nth-of-type(5) {
    background-image: url('../../assets/images/nav/press.jpg');
    background-size: 200%;
    background-position: -242px -345px;
  }
  // tiny-donkey
  &:nth-of-type(6) {
    background-image: url('../../assets/images/nav/tiny-donkey.png');
    background-color: black;
    background-size: 90%;
    background-position: 40px -50px;
  }
}

// Search
.social-search .sub-menu form {
  label {
    width: 75%;
    input {
      width: 100%;
      height: 100px;
      color: white;
      @include fontmake(
        $size: 1.4,
        $margin: 0,
        $family: "Raleway"
      );
      border: 0;
      border-radius: 0;
      background: $issue-slate;
    }
  }
  >input {
    width: 25%;
    height: 100px;
    float: right;
    @include fontmake(
      $size: 0.8,
      $margin: 0,
      $family: "Raleway",
      $weight: 700
    );
    text-transform: uppercase;
    border: 10px solid $issue-slate;
    border-radius: 0;
  }
}
