.header__nav
  margin-top: 8rem

.header__wrap
  +flex
  max-width: 120rem
  padding: 1rem 3rem
  margin: 0

.header__nav ul li
  list-style-type: none
  margin: 0

.header__logo
  flex-grow: 0

.header__logo img
  max-width: 100%;
  width: 500px;

.header__menu ul
  display: flex
  margin: 1.4rem 0 0

.header__menu ul li
  +fontmake($size: 1.8, $margin: 0, $family: "Fira Sans", $weight: 400)
  margin-right: 3rem

  a:hover
    color: $red

.header__social ul
  display: flex
  margin: 1rem 0 0

.header__social ul li a
  margin-right: 1rem
  &:hover
    text-decoration: none
    color: $orange
  i
    font-size: 14px
    position: relative

.mobile__toggle
  display: none
