//*********************************************************
// ARCHIVE PAGES
//*********************************************************

.core--archive
  +flex
  justify-content: center

  .archive__header
    margin-top: 6rem

    h1
      color: $orange
      font: 700 4rem/1.5 "Alegreya", serif

  .post--core:nth-of-type(2n)
    margin-right: 0

  .post--core:nth-of-type(6),
  .post--core:nth-of-type(7)
    margin-bottom: gutter(8)

  .post--core:nth-of-type(5),
  .post--core:nth-of-type(7)
    margin-right: gutter(8)

//*********************************************************
// PAGES (INC SUBMIT)
//*********************************************************

.page__wrap
  +flex
  justify-content: center
  max-width: 85rem
  padding: 0 3rem

.page
  +flex
  flex-grow: 0
  margin-right: 0

  .page__header
    margin-top: 6rem

    h1
      color: $orange
      font: 700 4rem/1.5 "Alegreya", serif


//*********************************************************
// ABOUT PAGE
//*********************************************************

.page--about
  margin-top: 6rem

  .about__section
    margin-bottom: 4rem

    h1
      color: $orange
      font: 700 3.5rem/1.5 "Raleway", sans-serif
      text-align: left

  .about__content,
  .about__advisory,
  .about__contact
    flex-grow: 0
    margin-bottom: 6rem

  .about__masthead
    flex-grow: 0

    .masthead__member
      align-items: center
      +flex
      margin-bottom: 2rem

    .masthead__img
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
      border-radius: 50%
      display: block
      height: auto
      max-width: 100%
      padding-bottom: 100%
      position: relative
      width: 100%

    .masthead__meta h1
      font: 400 italic 1.2rem/1.5 "Alegreya", serif
      margin-top: 1rem
      text-align: center

    .masthead__bio
      margin-right: 0

//*********************************************************
// JOURNAL PAGE
//*********************************************************

.journal__recent
  background-origin: content-box
  transition: filter 0.3s ease-in-out
  margin-right: 0

  a
    align-items: center
    display: block
    +flex

  .issue__cover
    align-items: center
    +flex
    margin-bottom: 0

  .issue__cover img
    max-width: 100%

  .issue__teaser
    margin-bottom: 0
    margin-right: 0
    padding: gutter() gutter() gutter() 0

    p
      text-align: left

  &:hover
    filter: brightness(90%) grayscale(30%)


.journal__catalog
  +flex

.catalog__issue
  flex-grow: 0
  transition: filter 0.3s ease-in-out

  figure img
    max-width: 100%

  figcaption
    opacity: 0
    transition: opacity 0.3s ease-in-out

    p
      color: $orange
      font: 700 0.9rem/1.5 "Quicksand", sans-serif
      text-align: center

  &:nth-of-type(3n)
    margin-right: 0

  &:hover
    filter: brightness(90%) grayscale(30%)

    figcaption
      opacity: 1


//*********************************************************
// ISSUE PAGE
//*********************************************************

.issue__meta
  align-self: flex-start
  align-items: center

.issue__meta img
  max-width: 100%

.issue__meta a
  display: block
  font: 300 1rem/1.5 "Raleway", sans-serif
  padding: 1rem 1rem
  text-align: center
  text-transform: uppercase

  &:first-of-type
    margin-top: -7px

  span
    color: $base
    display: block
    font: 300 0.7rem/1.5 "Raleway", sans-serif

.issue__content
  margin-right: 0
