.page article.type-page
  position: relative
  header
    text-align: center
    @include span(9 of 12 no-gutters)
    @include pre(1.5 of 12)
    margin-bottom: 6rem
    h1
      color: $purple
      @include fontmake($size: 3.4, $line: 3.4, $family: "Aleo", $weight: 700, $margin: 2)

  .entry-content
    @include span(9 of 12 no-gutters)
    @include pre(1.5 of 12)
    margin-bottom: 6rem
