//*********************************************************
// POST
//*********************************************************

.post
  position: relative

  // CORE LINK
  .post__link
    display: block
    position: relative

  // CORE FIGURE
  figure
    height: 200px
    overflow: hidden
    position: relative

    img
      transition: filter 0.3s ease-in-out

  // CORE AUTHOR
  .post__author
    color: $purple
    display: inline-block
    font-family: 'Raleway'
    font-size: 1.8rem
    font-weight: 700
    margin-bottom: 1.4rem

  // CORE TIME
  .post__time
    color: $purple
    display: inline-block
    font-family: 'Raleway'
    font-size: 1.8rem
    &::before
      content: ' / '

  // CORE EXCERPT
  .post__excerpt p
    font: 400 1.2rem/1.5 "Alegreya", serif
    margin-bottom: 0
    text-align: left
    transition: color 0.3s ease-in-out
    quotes: '\201c' '\201d'

    &::before
      content: open-quote

    &::after
      content: close-quote

//*********************************************************
// POST--SINGLE
//*********************************************************

.post__wrap
  +flex
  justify-content: center
  max-width: 120rem
  padding: 0 3rem

.post--single
  +flex

  .post__link .post__title
    text-align: left;

  .post__header
    flex-grow: 0
    margin-top: 6rem
    text-align: center

    h1
      color: $orange
      font-family: 'Playfair Display', "Raleway", sans-serif
      font-size: 7rem
      font-weight: 900

  // POST--SINGLE AUTHOR
  .post__author
    font: 700 1.8rem/1.5 "Raleway", sans-serif
    margin-bottom: 2rem

  // POST--SINGLE TIME
  .post__time
    color: $purple
    display: block
    font: 400 1.4rem/1.5 "Raleway", sans-serif
    margin-bottom: 2rem

    &::before
      content: ''

  .post__issue
    font: 400 1.4rem/1.5 "Playfair Display", serif
    font-style: italic
    text-align: center

  .post__image
    flex-grow: 0
    height: auto
    margin-right: 0
    overflow: hidden
    position: relative
    text-align: center

    img
      height: auto
      max-width: 100%

    figcaption
      color: $orange
      display: block
      font: 700 0.7rem/1.5 "Raleway"
      margin-top: 0.4rem
      text-align: center
      text-transform: uppercase
      a:hover
        color: $orange

  .post__content
    flex-grow: 0
    margin-right: 0
    margin-top: 4rem

  footer
    align-items: center
    +flex
    flex-grow: 0
    margin-right: 0
    margin-top: 4rem
    min-height: 300px

  .post__bio
    color: $purple

    p
      font-size: 1.6rem;
      font-style: italic;

    em, i
      font-style: normal

  .post__avatar
    margin-right: 0

  .post__avatar div
    margin-right: 0
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    border-radius: 50%
    display: block
    height: auto
    max-width: 100%
    padding-bottom: 100%
    position: relative
    width: 100%


//*********************************************************
// POST--FTF
//*********************************************************

.ftf__intro
  color: $purple
  font: 500 italic 1rem/1.5 "Raleway", sans-serif
  em
    font-style: normal

.ftf__container
  align-items: center
  +flex
  // flex-wrap: nowrap
  margin-top: 4rem
  margin-bottom: 0

.ftf__text
  margin-bottom: 0
  margin-right: 0
  order: 2

.ftf__image
  margin-bottom: 0
  order: 1


//*********************************************************
// PREVIOUS/NEXT LINKS
//*********************************************************

.nav-next-prev, .nav-ftf, .nav-pins-needles
  padding: 4rem 0 4rem 0
  color: $purple
  a
    color: $purple
    &:hover
      color: $red

  h1
    @include fontmake($family: "Montserrat", $size: 1.6, $weight: 400)
    text-align: center

.nav-next


.nav-prev
