//*********************************************************
// POST
//*********************************************************

.post
  position: relative

  // CORE LINK
  .post__link
    display: block
    position: relative

  // CORE FIGURE
  // figure
  //   height: 200px
  //   overflow: hidden
  //   position: relative

  //   img
  //     transition: filter 0.3s ease-in-out

  // META
  .post__author,
  .post__type,
  .post__time
    color: $purple
    display: inline-block
    font-family: 'Fira Sans'
    font-size: 1.6rem
    font-weight: 400
    margin-bottom: 1.4rem
    transition: color 0.3s ease-in-out

  .post__type,
  .post__time
    &::before
      content: ' / '

  // CORE EXCERPT
  .post__excerpt p
    font: italic 400 2rem/1.6 Cardo;
    margin-bottom: 0
    text-align: left
    transition: color 0.3s ease-in-out
    quotes: '\201c' '\201d'

    &::before
      content: open-quote

    &::after
      content: close-quote

//*********************************************************
// POST--SINGLE
//*********************************************************

.post__wrap
  +flex
  justify-content: center
  max-width: 120rem
  padding: 0 3rem

.post--single
  +flex
  width: 100%;

  .post__link .post__title
    text-align: left;

  .post__header
    flex-grow: 0
    margin-top: 6rem

    h1
      color: $red
      font-family: 'Playfair Display', sans-serif
      font-size: 7rem
      font-weight: 900
      text-align: left;

  .post__author
    font-size: 3rem
    // font: 700 1.8rem/1.5 "Raleway", sans-serif
    margin-bottom: 2rem

  .post__type
    display: none;

  .post__time
    color: $purple
    display: block
    font-size: 2rem
    margin-bottom: 2rem

    &::before
      content: ''

  .post__issue
    font: italic 1.4rem "Playfair Display", serif

  .post__content
    flex-grow: 0
    margin-right: 0
    margin-top: 8rem

  footer
    align-items: center
    +flex
    flex-grow: 0
    margin-right: 0
    margin-top: 4rem
    min-height: 300px

  .post__bio
    color: $purple

    p
      font-size: 1.6rem;
      font-style: italic;

    em, i
      font-style: normal

  .post__avatar
    margin-right: 0

  .post__avatar div
    margin-right: 0
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    border-radius: 50%
    display: block
    height: auto
    max-width: 100%
    padding-bottom: 100%
    position: relative
    width: 100%


//*********************************************************
// POST--FTF
//*********************************************************

.ftf__intro
  color: $purple
  font-style: italic;
  em
    font-style: normal

.ftf__container
  align-items: center
  +flex
  // flex-wrap: nowrap
  margin-top: 4rem
  margin-bottom: 0
  margin-left: -25%;
  margin-right: -25%;

.ftf__text
  margin-bottom: 0
  margin-right: 0
  order: 2

.ftf__image
  margin-bottom: 0
  order: 1


//*********************************************************
// PREVIOUS/NEXT LINKS
//*********************************************************

.nav-next-prev, .nav-ftf, .nav-pins-needles
  padding: 4rem 0 4rem 0
  color: $purple
  a
    color: $purple
    &:hover
      color: $red

  h1
    @include fontmake($family: "Montserrat", $size: 1.6, $weight: 400)
    text-align: center

.nav-next


.nav-prev
